{% extends "layout.html" %}
{% block content %}
    <div style="text-align:center">
      <img class="rounded-circle account-img" src="{{ image_file }}">

      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>

      <nav class="navbar navbar-expand-md">
          {% if user.username == current_user.username %}
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about', username=user.username) }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos', username=user.username) }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends', username=user.username) }}">Friends</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_account', username=user.username) }}">Account</a>
          </div>
          {% else %}
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about', username=user.username) }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos', username=user.username) }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends', username=user.username) }}">Friends</a>
          </div>
          {% endif %}
      </nav>
    </div>
    <div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form">
            <legend class="border-bottom mb-4">Photos</legend>
            <div class="form-group">
                    {{ form.pictures.label() }}
                    {{ form.pictures(class="form-control-file") }}
                    {% if form.pictures.errors %}
                        {% for error in form.pictures.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
        </fieldset>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
    </div>
    <div>
      {% for image in images %}
        <img src="{{ url_for('static', filename='photos/' + user.username + '/' + image) }}">
      {% endfor %}
    </div>
{% endblock content %}
