{% extends "layout.html" %}
{% block content %}
    <div style="text-align:center">
      <img class="rounded-circle account-img" src="{{ image_file }}">

      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>

      <nav class="navbar navbar-expand-md">
          {% if user.username == current_user.username %}
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about', username=user.username) }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos', username=user.username) }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends', username=user.username) }}">Friends</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_account', username=user.username) }}">Account</a>
          </div>
          {% else %}
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about', username=user.username) }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos', username=user.username) }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends', username=user.username) }}">Friends</a>
          </div>
          {% endif %}
      </nav>
    </div>

    <div class="content-section">
        <h4 class="border-bottom mb-4">About {{ user.username }}</h4>
        <div>
            {% if user.age %}
                <span style="font-weight: bold">Age:</span>
                <span>{{ user.age }}</span>
            {% endif %}
        </div>
        <br>

        <div>
            {% if user.breed %}
                <span style="font-weight: bold">Breed:</span>
                <span>{{ user.breed }}</span>
            {% endif %}
        </div>
        <br>

        <div>
            {% if user.sex %}
                <span style="font-weight: bold">Sex:</span>
                <span>{{ user.sex }}</span>
            {% endif %}
        </div>
        <br>

        <div>
            {% if user.current_city %}
                <span style="font-weight: bold">Current City:</span>
                <span>{{ user.current_city }}</span>
            {% endif %}
        </div>
        <br>

        <div>
            {% if user.birthday %}
                <span style="font-weight: bold">Birthday:</span>
                <span>{{ user.birthday }}</span>
            {% endif %}
        </div>
        <br>

        <div>
            {% if user.favorite_food %}
                <span style="font-weight: bold">Favorite Food:</span>
                <span>{{ user.favorite_food }}</span>
            {% endif %}
        </div>
        <br>

        <div>
            {% if user.relationship %}
                <span style="font-weight: bold">Relationship:</span>
                <span>{{ user.relationship }}</span>
            {% endif %}
        </div>
        <br>

        <div>
            {% if user.interests %}
                <span style="font-weight: bold">Interests:</span>
                <span>{{ user.interests }}</span>
            {% endif %}
        </div>
        <br>

        <div>
            {% if user.parents %}
                <span style="font-weight: bold">Parents:</span>
                <span>{{ user.parents }}</span>
            {% endif %}
        </div>
        <br>
    </div>

{% endblock content %}
