{% extends "layout.html" %}
{% block content %}
    <div style="text-align:center">
      <img class="rounded-circle account-img" src="{{ image_file }}">

      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>

      <nav class="navbar navbar-expand-md">
          {% if user.username == current_user.username %}
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about', username=user.username) }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos', username=user.username) }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends', username=user.username) }}">Friends</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_account', username=user.username) }}">Account</a>
          </div>
          {% else %}
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about', username=user.username) }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos', username=user.username) }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends', username=user.username) }}">Friends</a>
          </div>
          {% endif %}
      </nav>
    </div>

    <div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form">
          <legend class="border-bottom mb-4">Friends</legend>
      </fieldset>
      {% if current_user.username != user.username %}
        <!-- {% if user not in current_user.friends %} -->
          <div class="form-group">
            <a>Add {{ user.username }} as a friend?</a>
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
        <!-- {% endif %} -->
      {% endif %}
    </form>
    {% for friend in user.friends %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + friend.image_file) }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" >{{ friend.username }}</a>
          </div>
            <a class="mr-2" >{{ friend.email }}</a>
        </div>
      </article>
    {% endfor %}
    </div>
{% endblock content %}
