{% extends "layout.html" %}
{% block content %}
    <div style="text-align:center">
      <img class="rounded-circle account-img" src="{{ image_file }}">

      <h2 class="account-heading">{{ user.username }}</h2>
      <p class="text-secondary">{{ user.email }}</p>

      <nav class="navbar navbar-expand-md">
          {% if user.username == current_user.username %}
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about', username=user.username) }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos', username=user.username) }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends', username=user.username) }}">Friends</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_account', username=user.username) }}">Account</a>
          </div>
          {% else %}
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about', username=user.username) }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos', username=user.username) }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends', username=user.username) }}">Friends</a>
          </div>
          {% endif %}
      </nav>

    </div>
    <div class="content-section">
        <h4 class="border-bottom mb-3">Posts by {{ user.username }}</h4>
        {% for post in posts.items %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
                  <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
                {% if post.image_file %}
                    <img class="border mb-2" src="{{ url_for('static', filename='posts/' + post.image_file) }}">
                {% endif %}
              </div>
            </article>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
