{% extends "layout.html" %}
{% block content %}
    <div style="text-align:center">
      <img class="rounded-circle account-img" src="{{ image_file }}">

      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>

      <nav class="navbar navbar-expand-md">
          <div class="container">
            <a class="btn btn-outline-info" href="{{ url_for('users.profile', username=current_user.username) }}">Posts</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_about') }}">About</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_photos') }}">Photos</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_friends') }}">Friends</a>
            <a class="btn btn-outline-info" href="{{ url_for('users.profile_account') }}">Account</a>
          </div>
      </nav>
    FRIENDS
    </div>
{% endblock content %}
